!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Irbis
    = Haml::Engine.new(File.read("views/layouts/_head.haml")).render
    %script{src: "http://maps.api.2gis.ru/2.0/loader.js", data: {id: "dgLoader"}}
    :javascript

      var map;

      DG.then(function() {
        map = DG.map('map', {
          center: [59.87, 30.31],
          zoom: 13,
          fullscreenControl: false,
          zoomControl: false,
          scrollWheelZoom: false
        });
      });

  %body#page.page
    = Haml::Engine.new(File.read("views/common/_alerts.haml")).render
    = Haml::Engine.new(File.read("views/layouts/_header.haml")).render

    %main#main.main{role: "main"}
      = Haml::Engine.new(File.read("views/home/_landing.haml")).render
      = Haml::Engine.new(File.read("views/home/_promo.haml")).render
      = Haml::Engine.new(File.read("views/home/_bitrix.haml")).render
      = Haml::Engine.new(File.read("views/home/_services.haml")).render
      = Haml::Engine.new(File.read("views/home/_works.haml")).render
      
      %section.section.section__blog{role: "region", aria: {label: "Blog"}}
        .ctn
          %h2.tx-center.mb-4 Новое в блоге
          .new-post
            .owl-carousel
              %article.new-post_i
                %header.mb-1
                  %p.tx-muted 12 сентября
                  %h5 Новая карточка товара для магазина реСтор
                %p.tx-voice К&nbsp;выходу в&nbsp;релиз готовится новая версия детальной карточки товара для проекта re-store.ru. Новая карточка решает множество проблем и&nbsp;упрощает заказ товара и&nbsp;его бронирование в&nbsp;магазине.
              %article.new-post_i
                %header.mb-1
                  %p.tx-muted 23 мая
                  %h5 Поддержка Экор-Нева      
                %p.tx-voice Взяли на&nbsp;поддержку корпоративный сайт предприятия Экор-Нева, участника научно-производственного холдинга ВМП. На&nbsp;сайте много информации, которую сотрудники нашей студии помогают.          

      = Haml::Engine.new(File.read("views/home/_contacts.haml")).render

    = Haml::Engine.new(File.read("views/layouts/_footer.haml")).render