!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Irbis
    = Haml::Engine.new(File.read("views/layouts/_head.haml")).render
  
  %body#page.page
    = Haml::Engine.new(File.read("views/common/_alerts.haml")).render
    = Haml::Engine.new(File.read("views/layouts/_header.haml")).render
    
    %main#main.main.pt-8{role: "main"}
      %section.section{role: "region", aria: {label: "Feedback"}}
        .ctn
          = Haml::Engine.new(File.read("views/dialogs/_feedback.haml")).render          

    = Haml::Engine.new(File.read("views/layouts/_footer.haml")).render